<main class="main">

  {{! banner section }}
{{!-- {{#each ban}} --}}
<section class="home-slider position-relative mb-30">
    <div class="container">
      <div class="home-slide-cover bg-grey-10 mt-30">
        <div class="hero-slider-1 style-4 dot-style-1 dot-style-1-position-1">
{{#each bannerData}}
        <div class="single-hero-slider single-animation-wrap" 
     style="background-image: url('{{this.image}}'); 
            background-size: cover; 
            background-position: center; 
            background-repeat: no-repeat;
            width: 100%;
            min-height: 500px; 
            display: flex;
            align-items: center;">
            
  <div class="container">
    <div class="row align-items-center slider-animated-1">

      <div class="col-lg-6 col-md-6">
        <div class="hero-slider-content-2">
          <h4 class="animated">{{this.titleSmall}}</h4>
          <h3 class="animated fw-900">{{this.titleMain}}</h3>
          <h2 class="animated fw-900 text-brand">{{this.highlight}}</h2>
          <p class="animated">{{this.description}}</p>

          <a class="animated btn btn-brush btn-brush-3" href="/shop">
            Shop Now
          </a>
        </div>
      </div>

    </div>
  </div>
</div>

        {{/each}}

        </div>
        <div class="slider-arrow hero-slider-1-arrow"></div>
      </div>
    </div>
</section>

  {{! default cards section }}
  <section class="featured section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
          <div class="banner-features wow fadeIn animated hover-up animated">
            <img src="/userAssets/imgs/theme/icons/feature-1.png" alt="" />
            <h4 class="bg-1">Free Shipping</h4>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
          <div class="banner-features wow fadeIn animated hover-up animated">
            <img src="/userAssets/imgs/theme/icons/feature-2.png" alt="" />
            <h4 class="bg-3">Online Order</h4>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
          <div class="banner-features wow fadeIn animated hover-up animated">
            <img src="/userAssets/imgs/theme/icons/feature-3.png" alt="" />
            <h4 class="bg-2">Save Money</h4>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
          <div class="banner-features wow fadeIn animated hover-up animated">
            <img src="/userAssets/imgs/theme/icons/feature-4.png" alt="" />
            <h4 class="bg-4">Promotions</h4>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
          <div class="banner-features wow fadeIn animated hover-up animated">
            <img src="/userAssets/imgs/theme/icons/feature-5.png" alt="" />
            <h4 class="bg-5">Happy Sell</h4>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
          <div class="banner-features wow fadeIn animated hover-up animated">
            <img src="/userAssets/imgs/theme/icons/feature-6.png" alt="" />
            <h4 class="bg-6">24/7 Support</h4>
          </div>
        </div>
      </div>
    </div>
  </section> 

  {{!  books by catogury }}
<section class="product-tabs section-padding wow fadeIn animated">
  <div class="container">

    <!-- TAB HEADER -->
    <div class="tab-header">
      <ul class="nav nav-tabs" id="myTab" role="tablist">

        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="nav-tab-one" data-bs-toggle="tab"
            data-bs-target="#tab-one" type="button" role="tab" aria-controls="tab-one"
            aria-selected="true">Featured</button>
        </li>

        <li class="nav-item" role="presentation">
          <button class="nav-link" id="nav-tab-two" data-bs-toggle="tab"
            data-bs-target="#tab-two" type="button" role="tab" aria-controls="tab-two"
            aria-selected="false">Manga</button>
        </li>

        <li class="nav-item" role="presentation">
          <button class="nav-link" id="nav-tab-three" data-bs-toggle="tab"
            data-bs-target="#tab-three" type="button" role="tab" aria-controls="tab-three"
            aria-selected="false">Comics</button>
        </li>

        <li class="nav-item" role="presentation">
          <button class="nav-link" id="nav-tab-four" data-bs-toggle="tab"
            data-bs-target="#tab-four" type="button" role="tab" aria-controls="tab-four"
            aria-selected="false">New Arrivals</button>
        </li>

      </ul>

      <a href="#" class="view-more d-none d-md-flex">
        View More <i class="fi-rs-angle-double-small-right"></i>
      </a>
    </div>

    <!-- TAB CONTENT -->
    <div class="tab-content wow fadeIn animated" id="myTabContent">

      <!-- TAB 1 : FEATURED -->
      <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="nav-tab-one">
        <div class="row product-grid-4">

          {{#each featuredBooks}}
          <div class="col-lg-3 col-md-4 col-12 col-sm-6">
            <div class="product-cart-wrap mb-30">

              <div class="product-img-action-wrap">
                <div class="product-img product-img-zoom">
                  <a href="shop-product-right.html">
                    <img class="default-img" src="{{this.images.[0]}}" alt="">
                    <img class="hover-img" src="{{this.images.[1]}}" alt="">
                  </a>
                </div>

                {{#if ../user}}
  {{#unless (eq this.stockStatus "🔴 Currently unavailable")}}
    <form action="/add-to-cart" method="POST">
      <input type="hidden" name="bookId" value="{{this._id}}">
      <input type="hidden" name="quantity" value="1">
      <button
        type="submit"
        aria-label="Add To Cart"
        style="all: unset; display: inline-flex; align-items: center; justify-content: center; width: 40px; height: 40px; border-radius: 50%; background-color: #f0f0f0; cursor: pointer; transition: background-color 0.3s, color 0.3s;"
        onmouseover="this.style.backgroundColor='#4caf50'; this.querySelector('i').style.color='#fff';"
        onmouseout="this.style.backgroundColor='#f0f0f0'; this.querySelector('i').style.color='#333';"
      >
        <i class="fi-rs-shopping-bag-add" style="color: #333; font-size: 18px;"></i>
      </button>
    </form>
  {{/unless}}
{{/if}}


                <div class="product-action-1">
                  <a aria-label="Quick view" class="action-btn hover-up" data-bs-toggle="modal"
                    data-bs-target="#quickViewModal"><i class="fi-rs-eye"></i></a>
                  <a aria-label="Add To Wishlist" class="action-btn hover-up" href="shop-wishlist.html">
                    <i class="fi-rs-heart"></i></a>
                  <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html">
                    <i class="fi-rs-shuffle"></i></a>
                </div>

                <div class="product-badges product-badges-position product-badges-mrg">
                  <span class="hot">{{this.category}}</span>
                </div>
              </div>

              <div class="product-content-wrap">
                <div class="product-category">
                  <a href="shop-grid-right.html">{{this.publisher}}</a>
                </div>
                <h2><a href="shop-product-right.html">{{this.shortTitle}}</a></h2>
                <div>⭐ {{this.rating}}/5</div>

                <div class="product-price">
                  <span>{{this.discountPrice}}</span>
                  <span class="old-price">{{this.regularPrice}}</span>
                </div>

                <div class="product-action-1 show">

                  {{!-- <a aria-label="Add To Cart" class="action-btn hover-up" href="/admin/bookDetails">
                    <i class="fi-rs-shopping-bag-add"></i>
                  </a> --}}
                    <form action="/add-to-cart" method="post">
            <input type="hidden" name="booksId" value="{{this.booksId}}" />
            <input type="hidden" name="name" value="{{this.name}}" />
            <input type="hidden" name="brand" value="{{this.publisher}}" />
            <input type="hidden" name="price" value="{{this.price}}" />
            <input type="hidden" name="image" value="{{this.images.[0]}}" />
            <input type="hidden" name="quantity" value="1" />

            <button
              type="submit"
              aria-label="Add To Cart"
              style="
                all: unset;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: #f0f0f0;
                cursor: pointer;
                transition: background-color 0.3s, color 0.3s;
              "
              onmouseover="this.style.backgroundColor='#4caf50'; this.querySelector('i').style.color='#fff';"
              onmouseout="this.style.backgroundColor='#f0f0f0'; this.querySelector('i').style.color='#333';"
            >
              <i
                class="fi-rs-shopping-bag-add"
                style="color: #333; font-size: 18px;"
              ></i>
            </button>
          </form>


                </div>
              </div>

            </div>
          </div>
          {{/each}}

        </div>
      </div>

      <!-- TAB 2 : MANGA -->
      <div class="tab-pane fade" id="tab-two" role="tabpanel" aria-labelledby="nav-tab-two">
        <div class="row product-grid-4">

          {{#each mangaBooks}}
          <div class="col-lg-3 col-md-4 col-12 col-sm-6">
            <div class="product-cart-wrap mb-30">

              <div class="product-img-action-wrap">
                <div class="product-img product-img-zoom">
                  <a href="shop-product-right.html">
                    <img class="default-img" src="{{this.images.[0]}}" alt="">
                    <img class="hover-img" src="{{this.images.[1]}}" alt="">
                  </a>
                </div>

                <div class="product-action-1">
                  <a aria-label="Quick view" class="action-btn hover-up" data-bs-toggle="modal"
                    data-bs-target="#quickViewModal"><i class="fi-rs-eye"></i></a>
                  <a aria-label="Add To Wishlist" class="action-btn hover-up" href="shop-wishlist.html">
                    <i class="fi-rs-heart"></i></a>
                  <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html">
                    <i class="fi-rs-shuffle"></i></a>
                </div>

                <div class="product-badges product-badges-position product-badges-mrg">
                  <span class="hot">HOT</span>
                </div>
              </div>

              <div class="product-content-wrap">
                <div class="product-category">
                  <a href="shop-grid-right.html">{{this.category}}</a>
                </div>

                <h2><a href="shop-product-right.html">{{this.shortTitle}}</a></h2>
                <div>⭐ {{this.rating}}</div>

                <div class="product-price">
                  <span>{{this.discountPrice}}</span>
                  <span class="old-price">{{this.regularPrice}}</span>
                </div>

                <div class="product-action-1 show">
                  <a aria-label="Add To Cart" class="action-btn hover-up" href="/admin/bookDetails">
                    <i class="fi-rs-shopping-bag-add"></i>
                  </a>
                </div>
              </div>

            </div>
          </div>
          {{/each}}

        </div>
      </div>

      <!-- TAB 3 : COMICS -->
      <div class="tab-pane fade" id="tab-three" role="tabpanel" aria-labelledby="nav-tab-three">
        <div class="row product-grid-4">

          {{#each comicBooks}}
          <div class="col-lg-3 col-md-4 col-12 col-sm-6">
            <div class="product-cart-wrap mb-30">

              <div class="product-img-action-wrap">
                <div class="product-img product-img-zoom">
                  <a href="shop-product-right.html">
                    <img class="default-img" src="{{this.images.[0]}}" alt="">
                    <img class="hover-img" src="{{this.images.[1]}}" alt="">
                  </a>
                </div>
              </div>

              <div class="product-content-wrap">
                <div class="product-category">
                  <a href="shop-grid-right.html">{{this.category}}</a>
                </div>

                <h2><a href="shop-product-right.html">{{this.shortTitle}}</a></h2>
                <div>⭐ {{this.rating}}</div>

                <div class="product-price">
                  <span>{{this.discountPrice}}</span>
                  <span class="old-price">{{this.regularPrice}}</span>
                </div>
              </div>

            </div>
          </div>
          {{/each}}

        </div>
      </div>

      <!-- TAB 4 : NEW ARRIVALS -->
      <div class="tab-pane fade" id="tab-four" role="tabpanel" aria-labelledby="nav-tab-four">
        <div class="row product-grid-4">

          {{#each newArrivals}}
          <div class="col-lg-3 col-md-4 col-12 col-sm-6">
            <div class="product-cart-wrap mb-30">

              <div class="product-img-action-wrap">
                <div class="product-img product-img-zoom">
                  <a href="shop-product-right.html">
                    <img class="default-img" src="{{this.images.[0]}}" alt="">
                    <img class="hover-img" src="{{this.images.[1]}}" alt="">
                  </a>
                </div>
              </div>

              <div class="product-content-wrap">
                <div class="product-category">
                  <a href="shop-grid-right.html">{{this.category}}</a>
                </div>

                <h2><a href="shop-product-right.html">{{this.shortTitle}}</a></h2>
                <div>⭐ {{this.rating}}</div>

                <div class="product-price">
                  <span>{{this.discountPrice}}</span>
                  <span class="old-price">{{this.regularPrice}}</span>
                </div>
              </div>

            </div>
          </div>
          {{/each}}

        </div>
      </div>

    </div>
  </div>
</section>



  {{! second banner }}
  <section class="banner-2 section-padding pb-0">
    <div class="container">
      <div class="banner-img banner-big wow fadeIn animated f-none">
        <img src="/userAssets/imgs/bannerImg/bnr-6.jpg" alt="" />
        <div class="banner-text d-md-block d-none">
          <h4 class="mb-15 mt-40 text-brand">Your Trusted Online Bookstore</h4>
          <h1 class="fw-600 mb-20"> Discover Bestselling & New <br />
          Books at Great Prices</h1>
          <a href="shop-grid-right.html" class="btn">  Shop Now
            <i class="fi-rs-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </section> 

  {{! popular categories }}
  <section class="popular-categories section-padding mt-15">
    <div class="container wow fadeIn animated">
      <h3 class="section-title mb-20"><span>Popular</span> publisher</h3>
      <div class="carausel-6-columns-cover position-relative">
        <div
          class="slider-arrow slider-arrow-2 carausel-6-columns-arrow"
          id="carausel-6-columns-arrows"
        ></div>
        <div class="carausel-6-columns" id="carausel-6-columns">
          {{#each publishersData}}
          <div class="card-1">
            <figure class="img-hover-scale overflow-hidden">
              <a href="shop-grid-right.html"><img
                  src="{{this.image}}"
                  alt=""
                /></a>
            </figure>
            <h5><a href="shop-grid-right.html">{{this.name}}</a></h5>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </section> 


  {{! New Arrivals }}
  <section class="pt-25 pb-20">
    <div class="container wow fadeIn animated">
      <h3 class="section-title mb-20"><span>New</span> Arrivals</h3>
      <div class="carausel-6-columns-cover position-relative">
        <div
          class="slider-arrow slider-arrow-2 carausel-6-columns-arrow"
          id="carausel-6-columns-2-arrows"
        ></div>
        <div
          class="carausel-6-columns carausel-arrow-center"
          id="carausel-6-columns-2"
        >
        {{#each newArrivals}}
          <div class="product-cart-wrap small hover-up">
            <div class="product-img-action-wrap">
              <div class="product-img product-img-zoom">
                <a href="shop-product-right.html">
                  <img
                    class="default-img"
                    src="{{this.images.[0]}}"
                    alt=""
                  />
                  <img
                    class="hover-img"
                    src="{{this.images.[1]}}"
                    alt=""
                  />
                </a>
              </div>
              <div class="product-action-1">
                <a
                  aria-label="Quick view"
                  class="action-btn small hover-up"
                  data-bs-toggle="modal"
                  data-bs-target="#quickViewModal"
                >
                  <i class="fi-rs-eye"></i></a>
                <a
                  aria-label="Add To Wishlist"
                  class="action-btn small hover-up"
                  href="shop-wishlist.html"
                  tabindex="0"
                ><i class="fi-rs-heart"></i></a>
                <a
                  aria-label="Compare"
                  class="action-btn small hover-up"
                  href="shop-compare.html"
                  tabindex="0"
                ><i class="fi-rs-shuffle"></i></a>
              </div>
              <div
                class="product-badges product-badges-position product-badges-mrg"
              >
                <span class="best sell">New</span>
              </div>
            </div>
            <div class="product-content-wrap">
              <h2><a href="shop-product-right.html">{{this.shortTitle}}</a></h2>
              <div class="" title="90%">
                <span>⭐{{this.rating}}
                </span>
              </div>
              <div class="product-price">
                <span>{{this.discountPrice}}</span>
                <span class="old-price">{{this.regularPrice}}</span>
              </div>
            </div>
          </div>
{{/each}}

{{!-- end card --}}
      </div>
    </div>
  </section>

  {{! timer banner }}
  <section class="deals section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 deal-co">
          <div
            class="deal wow fadeIn animated mb-md-4 mb-sm-4 mb-lg-0"
            style="background-image: url('/userAssets/uploads/bookImage-1763356897980.webp');"
          >
            <div class="deal-top">
              <h2 class="text-brand">Deal of the Day.</h2>
              <h5>Limited quantities.</h5>
            </div>
            <div class="deal-content">
              <h6 class="product-title"><a href="shop-product-right.html">Summer
                  Collection New Morden Design</a></h6>
              <div class="product-price"><span
                  class="new-price"
                >$139.00</span><span class="old-price">$160.99</span></div>
            </div>
            <div class="deal-bottom">
              <p>Hurry Up! Offer End In:</p>
              <div
                class="deals-countdown"
                data-countdown="2025/03/25 00:00:00"
              ></div>
              <a href="shop-grid-right.html" class="btn hover-up">Shop Now
                <i class="fi-rs-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 deal-co">
          <div
            class="deal wow fadeIn animated"
            style="background-image: url('/userAssets/imgs/banner/menu-banner-8.jpg');"
          >
            <div class="deal-top">
              <h2 class="text-success">Men Clothing</h2>
              <h5>Shirt & Bag</h5>
            </div>
            <div class="deal-content">
              <h6 class="product-title"><a href="shop-product-right.html">Try
                  something new on vacation</a></h6>
              <div class="product-price"><span
                  class="new-price"
                >$178.00</span><span class="old-price">$256.99</span></div>
            </div>
            <div class="deal-bottom">
              <p>Hurry Up! Offer End In:</p>
              <div
                class="deals-countdown"
                data-countdown="2026/03/25 00:00:00"
              ></div>
              <a href="shop-grid-right.html" class="btn hover-up">Shop Now
                <i class="fi-rs-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> 

  {{! running publihres logo }}
  <section class="section-padding">
    <div class="container pb-20">
      <h3 class="section-title mb-20 wow fadeIn animated"><span>Featured</span>
        Brands</h3>
      <div
        class="carausel-6-columns-cover position-relative wow fadeIn animated"
      >
        <div
          class="slider-arrow slider-arrow-2 carausel-6-columns-arrow"
          id="carausel-6-columns-3-arrows"
        ></div>
        <div class="carausel-6-columns text-center" id="carausel-6-columns-3">
          {{#each publishersData}}
          <div class="brand-logo">
            <img
              class="img-grey-hover"
              src="{{this.image}}"
              alt="{{this.name}}"
            />
                      <p style="margin-top: 10px; font-size: 14px; font-weight: 600;">
            {{this.name}}
          </p>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </section> 

  {{! best sellinng }}
  <section class="bg-grey-9 section-padding">
    <div class="container pt-15 pb-25">
      <div class="heading-tab d-flex">
        <div class="heading-tab-left wow fadeIn animated">
          <h3 class="section-title mb-20"><span>Monthly</span> Best Sell</h3>
        </div>
        <div class="heading-tab-right wow fadeIn animated">
          <ul class="nav nav-tabs right no-border" id="myTab-1" role="tablist">
            <li class="nav-item" role="presentation">
              <button
                class="nav-link active"
                id="nav-tab-one-1"
                data-bs-toggle="tab"
                data-bs-target="#tab-one-1"
                type="button"
                role="tab"
                aria-controls="tab-one"
                aria-selected="true"
              >Best Selling</button>
            </li>
            {{!-- <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="nav-tab-two-1"
                data-bs-toggle="tab"
                data-bs-target="#tab-two-1"
                type="button"
                role="tab"
                aria-controls="tab-two"
                aria-selected="false"
              >Popular</button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="nav-tab-three-1"
                data-bs-toggle="tab"
                data-bs-target="#tab-three-1"
                type="button"
                role="tab"
                aria-controls="tab-three"
                aria-selected="false"
              >New added</button>
            </li> --}}
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 d-none d-lg-flex">
          <div class="banner-img style-2 wow fadeIn animated">
            <img src="/userAssets/imgs/bannerImg/monthaly.jpg" alt="" />
            <div class="banner-text">
              <span>The best</span>
              <h4 class="mt-5">Save 17% on <br />Book</h4>
              <a href="shop-grid-right.html" class="text-white">Shop Now
                <i class="fi-rs-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-9 col-md-12">
          <div class="tab-content wow fadeIn animated" id="myTabContent-1">
            <div
              class="tab-pane fade show active"
              id="tab-one-1"
              role="tabpanel"
              aria-labelledby="tab-one-1"
            >
              <div
                class="carausel-4-columns-cover arrow-center position-relative"
              >
                <div
                  class="slider-arrow slider-arrow-2 carausel-4-columns-arrow"
                  id="carausel-4-columns-arrows"
                ></div>
                <div
                  class="carausel-4-columns carausel-arrow-center"
                  id="carausel-4-columns"
                >
                {{#each newArrivals}}
                  <div class="product-cart-wrap">
                    <div class="product-img-action-wrap">
                      <div class="product-img product-img-zoom">
                        <a href="shop-product-right.html">
                          <img
                            class="default-img"
                            src="{{this.images.[0]}}"
                            alt=""
                          />
                          <img
                            class="hover-img"
                            src="{{this.images.[1]}}"
                            alt=""
                          />
                        </a>
                      </div>
                      <div class="product-action-1">
                        <a
                          aria-label="Quick view"
                          class="action-btn small hover-up"
                          data-bs-toggle="modal"
                          data-bs-target="#quickViewModal"
                        >
                          <i class="fi-rs-eye"></i></a>
                        <a
                          aria-label="Add To Wishlist"
                          class="action-btn small hover-up"
                          href="shop-wishlist.html"
                        ><i class="fi-rs-heart"></i></a>
                        <a
                          aria-label="Compare"
                          class="action-btn small hover-up"
                          href="shop-compare.html"
                        ><i class="fi-rs-shuffle"></i></a>
                      </div>
                      <div
                        class="product-badges product-badges-position product-badges-mrg"
                      >
                        <span class="best selling">best selling</span>
                      </div>
                    </div>
                    <div class="product-content-wrap">
                      <div class="product-category">
                        <a href="shop-grid-right.html">{{this.category}}</a>
                      </div>
                      <h2><a href="shop-product-right.html">{{this.shortTitle}}</a></h2>
                      <div class="" title="90%">
                        <span>
                          <span>⭐ {{this.rating}}</span>
                        </span>
                      </div>
                      <div class="product-price">
                        <span>{{this.discountPrice}}</span>
                        <span class="old-price">{{this.regularPrice}}</span>
                      </div>
                      <div class="product-action-1 show">
                        <a
                          aria-label="Add To Cart"
                          class="action-btn hover-up"
                          href="/admin/bookDetails"
                        ><i class="fi-rs-shopping-bag-add"></i></a>
                      </div>
                    </div>
                  </div>
                  {{/each }}
                </div>
              </div>
            </div>
            <!--End tab-pane-->
            {{!-- <div
              class="tab-pane fade"
              id="tab-two-1"
              role="tabpanel"
              aria-labelledby="tab-two-1"
            >
              <div
                class="carausel-4-columns-cover arrow-center position-relative"
              >
                <div
                  class="slider-arrow slider-arrow-2 carausel-4-columns-arrow"
                  id="carausel-4-columns-2-arrows"
                ></div>
                <div
                  class="carausel-4-columns carausel-arrow-center"
                  id="carausel-4-columns-2"
                >
                  <div class="product-cart-wrap">
                    <div class="product-img-action-wrap">
                      <div class="product-img product-img-zoom">
                        <a href="shop-product-right.html">
                          <img
                            class="default-img"
                            src="/userAssets/imgs/shop/product-6-1.jpg"
                            alt=""
                          />
                          <img
                            class="hover-img"
                            src="/userAssets/imgs/shop/product-6-2.jpg"
                            alt=""
                          />
                        </a>
                      </div>
                      <div class="product-action-1">
                        <a
                          aria-label="Quick view"
                          class="action-btn small hover-up"
                          data-bs-toggle="modal"
                          data-bs-target="#quickViewModal"
                        >
                          <i class="fi-rs-eye"></i></a>
                        <a
                          aria-label="Add To Wishlist"
                          class="action-btn small hover-up"
                          href="shop-wishlist.html"
                        ><i class="fi-rs-heart"></i></a>
                        <a
                          aria-label="Compare"
                          class="action-btn small hover-up"
                          href="shop-compare.html"
                        ><i class="fi-rs-shuffle"></i></a>
                      </div>
                      <div
                        class="product-badges product-badges-position product-badges-mrg"
                      >
                        <span class="hot">Hot</span>
                      </div>
                    </div>
                    <div class="product-content-wrap">
                      <div class="product-category">
                        <a href="shop-grid-right.html">Watch</a>
                      </div>
                      <h2><a href="shop-product-right.html">Cotton Leaf Printed
                          2</a></h2>
                      <div class="rating-result" title="90%">
                        <span>
                          <span>70%</span>
                        </span>
                      </div>
                      <div class="product-price">
                        <span>$238.85 </span>
                        <span class="old-price">$245.8</span>
                      </div>
                      <div class="product-action-1 show">
                        <a
                          aria-label="Add To Cart"
                          class="action-btn hover-up"
                          href="/admin/bookDetails"
                        ><i class="fi-rs-shopping-bag-add"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="product-cart-wrap">
                    <div class="product-img-action-wrap">
                      <div class="product-img product-img-zoom">
                        <a href="shop-product-right.html">
                          <img
                            class="default-img"
                            src="/userAssets/imgs/shop/product-7-1.jpg"
                            alt=""
                          />
                          <img
                            class="hover-img"
                            src="/userAssets/imgs/shop/product-7-2.jpg"
                            alt=""
                          />
                        </a>
                      </div>
                      <div class="product-action-1">
                        <a
                          aria-label="Quick view"
                          class="action-btn small hover-up"
                          data-bs-toggle="modal"
                          data-bs-target="#quickViewModal"
                        >
                          <i class="fi-rs-eye"></i></a>
                        <a
                          aria-label="Add To Wishlist"
                          class="action-btn small hover-up"
                          href="shop-wishlist.html"
                        ><i class="fi-rs-heart"></i></a>
                        <a
                          aria-label="Compare"
                          class="action-btn small hover-up"
                          href="shop-compare.html"
                        ><i class="fi-rs-shuffle"></i></a>
                      </div>
                      <div
                        class="product-badges product-badges-position product-badges-mrg"
                      >
                        <span class="new">New</span>
                      </div>
                    </div>
                    <div class="product-content-wrap">
                      <div class="product-category">
                        <a href="shop-grid-right.html">Watch</a>
                      </div>
                      <h2><a href="shop-product-right.html">Smart Speaker</a></h2>
                      <div class="rating-result" title="90%">
                        <span>
                          <span>70%</span>
                        </span>
                      </div>
                      <div class="product-price">
                        <span>$138.85 </span>
                        <span class="old-price">$145.8</span>
                      </div>
                      <div class="product-action-1 show">
                        <a
                          aria-label="Add To Cart"
                          class="action-btn hover-up"
                          href="/admin/bookDetails"
                        ><i class="fi-rs-shopping-bag-add"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="product-cart-wrap">
                    <div class="product-img-action-wrap">
                      <div class="product-img product-img-zoom">
                        <a href="shop-product-right.html">
                          <img
                            class="default-img"
                            src="/userAssets/imgs/shop/product-5-1.jpg"
                            alt=""
                          />
                          <img
                            class="hover-img"
                            src="/userAssets/imgs/shop/product-5-1.jpg"
                            alt=""
                          />
                        </a>
                      </div>
                      <div class="product-action-1">
                        <a
                          aria-label="Quick view"
                          class="action-btn small hover-up"
                          data-bs-toggle="modal"
                          data-bs-target="#quickViewModal"
                        >
                          <i class="fi-rs-eye"></i></a>
                        <a
                          aria-label="Add To Wishlist"
                          class="action-btn small hover-up"
                          href="shop-wishlist.html"
                        ><i class="fi-rs-heart"></i></a>
                        <a
                          aria-label="Compare"
                          class="action-btn small hover-up"
                          href="shop-compare.html"
                        ><i class="fi-rs-shuffle"></i></a>
                      </div>
                      <div
                        class="product-badges product-badges-position product-badges-mrg"
                      >
                        <span class="best">Best Sell</span>
                      </div>
                    </div>
                    <div class="product-content-wrap">
                      <div class="product-category">
                        <a href="shop-grid-right.html">Watch</a>
                      </div>
                      <h2><a href="shop-product-right.html">Hugy Speaker</a></h2>
                      <div class="rating-result" title="90%">
                        <span>
                          <span>70%</span>
                        </span>
                      </div>
                      <div class="product-price">
                        <span>$152.85 </span>
                        <span class="old-price">$156.8</span>
                      </div>
                      <div class="product-action-1 show">
                        <a
                          aria-label="Add To Cart"
                          class="action-btn hover-up"
                          href="/admin/bookDetails"
                        ><i class="fi-rs-shopping-bag-add"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="product-cart-wrap">
                    <div class="product-img-action-wrap">
                      <div class="product-img product-img-zoom">
                        <a href="shop-product-right.html">
                          <img
                            class="default-img"
                            src="/userAssets/imgs/shop/product-10-1.jpg"
                            alt=""
                          />
                          <img
                            class="hover-img"
                            src="/userAssets/imgs/shop/product-10-2.jpg"
                            alt=""
                          />
                        </a>
                      </div>
                      <div class="product-action-1">
                        <a
                          aria-label="Quick view"
                          class="action-btn small hover-up"
                          data-bs-toggle="modal"
                          data-bs-target="#quickViewModal"
                        >
                          <i class="fi-rs-eye"></i></a>
                        <a
                          aria-label="Add To Wishlist"
                          class="action-btn small hover-up"
                          href="shop-wishlist.html"
                        ><i class="fi-rs-heart"></i></a>
                        <a
                          aria-label="Compare"
                          class="action-btn small hover-up"
                          href="shop-compare.html"
                        ><i class="fi-rs-shuffle"></i></a>
                      </div>
                      <div
                        class="product-badges product-badges-position product-badges-mrg"
                      >
                        <span class="hot">-12%</span>
                      </div>
                    </div>
                    <div class="product-content-wrap">
                      <div class="product-category">
                        <a href="shop-grid-right.html">Watch</a>
                      </div>
                      <h2><a href="shop-product-right.html">Smart Speaker</a></h2>
                      <div class="rating-result" title="90%">
                        <span>
                          <span>70%</span>
                        </span>
                      </div>
                      <div class="product-price">
                        <span>$238.85 </span>
                        <span class="old-price">$245.8</span>
                      </div>
                      <div class="product-action-1 show">
                        <a
                          aria-label="Add To Cart"
                          class="action-btn hover-up"
                          href="/admin/bookDetails"
                        ><i class="fi-rs-shopping-bag-add"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="product-cart-wrap">
                    <div class="product-img-action-wrap">
                      <div class="product-img product-img-zoom">
                        <a href="shop-product-right.html">
                          <img
                            class="default-img"
                            src="/userAssets/imgs/shop/product-12-1.jpg"
                            alt=""
                          />
                          <img
                            class="hover-img"
                            src="/userAssets/imgs/shop/product-12-2.jpg"
                            alt=""
                          />
                        </a>
                      </div>
                      <div class="product-action-1">
                        <a
                          aria-label="Quick view"
                          class="action-btn small hover-up"
                          data-bs-toggle="modal"
                          data-bs-target="#quickViewModal"
                        >
                          <i class="fi-rs-eye"></i></a>
                        <a
                          aria-label="Add To Wishlist"
                          class="action-btn small hover-up"
                          href="shop-wishlist.html"
                        ><i class="fi-rs-heart"></i></a>
                        <a
                          aria-label="Compare"
                          class="action-btn small hover-up"
                          href="shop-compare.html"
                        ><i class="fi-rs-shuffle"></i></a>
                      </div>
                      <div
                        class="product-badges product-badges-position product-badges-mrg"
                      >
                        <span class="sale">Sale</span>
                      </div>
                    </div>
                    <div class="product-content-wrap">
                      <div class="product-category">
                        <a href="shop-grid-right.html">Watch</a>
                      </div>
                      <h2><a href="shop-product-right.html">Cotton Leaf Printed</a></h2>
                      <div class="rating-result" title="90%">
                        <span>
                          <span>70%</span>
                        </span>
                      </div>
                      <div class="product-price">
                        <span>$238.85 </span>
                        <span class="old-price">$245.8</span>
                      </div>
                      <div class="product-action-1 show">
                        <a
                          aria-label="Add To Cart"
                          class="action-btn hover-up"
                          href="/admin/bookDetails"
                        ><i class="fi-rs-shopping-bag-add"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="tab-three-1"
              role="tabpanel"
              aria-labelledby="tab-three-1"
            >
              <div
                class="carausel-4-columns-cover arrow-center position-relative"
              >
                <div
                  class="slider-arrow slider-arrow-2 carausel-4-columns-arrow"
                  id="carausel-4-columns-3-arrows"
                ></div>
                <div
                  class="carausel-4-columns carausel-arrow-center"
                  id="carausel-4-columns-3"
                >
                  <div class="product-cart-wrap">
                    <div class="product-img-action-wrap">
                      <div class="product-img product-img-zoom">
                        <a href="shop-product-right.html">
                          <img
                            class="default-img"
                            src="/userAssets/imgs/shop/product-8-1.jpg"
                            alt=""
                          />
                          <img
                            class="hover-img"
                            src="/userAssets/imgs/shop/product-8-2.jpg"
                            alt=""
                          />
                        </a>
                      </div>
                      <div class="product-action-1">
                        <a
                          aria-label="Quick view"
                          class="action-btn small hover-up"
                          data-bs-toggle="modal"
                          data-bs-target="#quickViewModal"
                        >
                          <i class="fi-rs-eye"></i></a>
                        <a
                          aria-label="Add To Wishlist"
                          class="action-btn small hover-up"
                          href="shop-wishlist.html"
                        ><i class="fi-rs-heart"></i></a>
                        <a
                          aria-label="Compare"
                          class="action-btn small hover-up"
                          href="shop-compare.html"
                        ><i class="fi-rs-shuffle"></i></a>
                      </div>
                      <div
                        class="product-badges product-badges-position product-badges-mrg"
                      >
                        <span class="hot">Hot</span>
                      </div>
                    </div>
                    <div class="product-content-wrap">
                      <div class="product-category">
                        <a href="shop-grid-right.html">Watch</a>
                      </div>
                      <h2><a href="shop-product-right.html">Cotton Leaf Printed</a></h2>
                      <div class="rating-result" title="90%">
                        <span>
                          <span>70%</span>
                        </span>
                      </div>
                      <div class="product-price">
                        <span>$238.85 </span>
                        <span class="old-price">$245.8</span>
                      </div>
                      <div class="product-action-1 show">
                        <a
                          aria-label="Add To Cart"
                          class="action-btn hover-up"
                          href="/admin/bookDetails"
                        ><i class="fi-rs-shopping-bag-add"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="product-cart-wrap">
                    <div class="product-img-action-wrap">
                      <div class="product-img product-img-zoom">
                        <a href="shop-product-right.html">
                          <img
                            class="default-img"
                            src="/userAssets/imgs/shop/product-13-1.jpg"
                            alt=""
                          />
                          <img
                            class="hover-img"
                            src="/userAssets/imgs/shop/product-13-2.jpg"
                            alt=""
                          />
                        </a>
                      </div>
                      <div class="product-action-1">
                        <a
                          aria-label="Quick view"
                          class="action-btn small hover-up"
                          data-bs-toggle="modal"
                          data-bs-target="#quickViewModal"
                        >
                          <i class="fi-rs-eye"></i></a>
                        <a
                          aria-label="Add To Wishlist"
                          class="action-btn small hover-up"
                          href="shop-wishlist.html"
                        ><i class="fi-rs-heart"></i></a>
                        <a
                          aria-label="Compare"
                          class="action-btn small hover-up"
                          href="shop-compare.html"
                        ><i class="fi-rs-shuffle"></i></a>
                      </div>
                      <div
                        class="product-badges product-badges-position product-badges-mrg"
                      >
                        <span class="new">New</span>
                      </div>
                    </div>
                    <div class="product-content-wrap">
                      <div class="product-category">
                        <a href="shop-grid-right.html">Watch</a>
                      </div>
                      <h2><a href="shop-product-right.html">Smart Speaker</a></h2>
                      <div class="rating-result" title="90%">
                        <span>
                          <span>70%</span>
                        </span>
                      </div>
                      <div class="product-price">
                        <span>$138.85 </span>
                        <span class="old-price">$145.8</span>
                      </div>
                      <div class="product-action-1 show">
                        <a
                          aria-label="Add To Cart"
                          class="action-btn hover-up"
                          href="/admin/bookDetails"
                        ><i class="fi-rs-shopping-bag-add"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="product-cart-wrap">
                    <div class="product-img-action-wrap">
                      <div class="product-img product-img-zoom">
                        <a href="shop-product-right.html">
                          <img
                            class="default-img"
                            src="/userAssets/imgs/shop/product-14-1.jpg"
                            alt=""
                          />
                          <img
                            class="hover-img"
                            src="/userAssets/imgs/shop/product-14-2.jpg"
                            alt=""
                          />
                        </a>
                      </div>
                      <div class="product-action-1">
                        <a
                          aria-label="Quick view"
                          class="action-btn small hover-up"
                          data-bs-toggle="modal"
                          data-bs-target="#quickViewModal"
                        >
                          <i class="fi-rs-eye"></i></a>
                        <a
                          aria-label="Add To Wishlist"
                          class="action-btn small hover-up"
                          href="shop-wishlist.html"
                        ><i class="fi-rs-heart"></i></a>
                        <a
                          aria-label="Compare"
                          class="action-btn small hover-up"
                          href="shop-compare.html"
                        ><i class="fi-rs-shuffle"></i></a>
                      </div>
                      <div
                        class="product-badges product-badges-position product-badges-mrg"
                      >
                        <span class="best">Best Sell</span>
                      </div>
                    </div>
                    <div class="product-content-wrap">
                      <div class="product-category">
                        <a href="shop-grid-right.html">Watch</a>
                      </div>
                      <h2><a href="shop-product-right.html">Hugy Speaker</a></h2>
                      <div class="rating-result" title="90%">
                        <span>
                          <span>70%</span>
                        </span>
                      </div>
                      <div class="product-price">
                        <span>$152.85 </span>
                        <span class="old-price">$156.8</span>
                      </div>
                      <div class="product-action-1 show">
                        <a
                          aria-label="Add To Cart"
                          class="action-btn hover-up"
                          href="/admin/bookDetails"
                        ><i class="fi-rs-shopping-bag-add"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="product-cart-wrap">
                    <div class="product-img-action-wrap">
                      <div class="product-img product-img-zoom">
                        <a href="shop-product-right.html">
                          <img
                            class="default-img"
                            src="/userAssets/imgs/shop/product-15-1.jpg"
                            alt=""
                          />
                          <img
                            class="hover-img"
                            src="/userAssets/imgs/shop/product-15-2.jpg"
                            alt=""
                          />
                        </a>
                      </div>
                      <div class="product-action-1">
                        <a
                          aria-label="Quick view"
                          class="action-btn small hover-up"
                          data-bs-toggle="modal"
                          data-bs-target="#quickViewModal"
                        >
                          <i class="fi-rs-eye"></i></a>
                        <a
                          aria-label="Add To Wishlist"
                          class="action-btn small hover-up"
                          href="shop-wishlist.html"
                        ><i class="fi-rs-heart"></i></a>
                        <a
                          aria-label="Compare"
                          class="action-btn small hover-up"
                          href="shop-compare.html"
                        ><i class="fi-rs-shuffle"></i></a>
                      </div>
                      <div
                        class="product-badges product-badges-position product-badges-mrg"
                      >
                        <span class="hot">-12%</span>
                      </div>
                    </div>
                    <div class="product-content-wrap">
                      <div class="product-category">
                        <a href="shop-grid-right.html">Watch</a>
                      </div>
                      <h2><a href="shop-product-right.html">Smart Speaker</a></h2>
                      <div class="rating-result" title="90%">
                        <span>
                          <span>70%</span>
                        </span>
                      </div>
                      <div class="product-price">
                        <span>$238.85 </span>
                        <span class="old-price">$245.8</span>
                      </div>
                      <div class="product-action-1 show">
                        <a
                          aria-label="Add To Cart"
                          class="action-btn hover-up"
                          href="/admin/bookDetails"
                        ><i class="fi-rs-shopping-bag-add"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="product-cart-wrap">
                    <div class="product-img-action-wrap">
                      <div class="product-img product-img-zoom">
                        <a href="shop-product-right.html">
                          <img
                            class="default-img"
                            src="/userAssets/imgs/shop/product-11-1.jpg"
                            alt=""
                          />
                          <img
                            class="hover-img"
                            src="/userAssets/imgs/shop/product-11-2.jpg"
                            alt=""
                          />
                        </a>
                      </div>
                      <div class="product-action-1">
                        <a
                          aria-label="Quick view"
                          class="action-btn small hover-up"
                          data-bs-toggle="modal"
                          data-bs-target="#quickViewModal"
                        >
                          <i class="fi-rs-eye"></i></a>
                        <a
                          aria-label="Add To Wishlist"
                          class="action-btn small hover-up"
                          href="shop-wishlist.html"
                        ><i class="fi-rs-heart"></i></a>
                        <a
                          aria-label="Compare"
                          class="action-btn small hover-up"
                          href="shop-compare.html"
                        ><i class="fi-rs-shuffle"></i></a>
                      </div>
                      <div
                        class="product-badges product-badges-position product-badges-mrg"
                      >
                        <span class="sale">Sale</span>
                      </div>
                    </div>
                    <div class="product-content-wrap">
                      <div class="product-category">
                        <a href="shop-grid-right.html">Watch</a>
                      </div>
                      <h2><a href="shop-product-right.html">Cotton Leaf Printed</a></h2>
                      <div class="rating-result" title="90%">
                        <span>
                          <span>70%</span>
                        </span>
                      </div>
                      <div class="product-price">
                        <span>$238.85 </span>
                        <span class="old-price">$245.8</span>
                      </div>
                      <div class="product-action-1 show">
                        <a
                          aria-label="Add To Cart"
                          class="action-btn hover-up"
                          href="/admin/bookDetails"
                        ><i class="fi-rs-shopping-bag-add"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> --}}
          <!--End tab-content-->
        </div>
        <!--End Col-lg-9-->
      </div>
    </div>
  </section> 
</main>